{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Bootstrap Core CSS -->
{#        <link href="{{ STATIC_URL }}assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">#}
        <link href="{{ STATIC_URL }}assets/node_modules/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}assets/node_modules/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}assets/node_modules/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}assets/node_modules/aos/css/aos.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ STATIC_URL }}wrapkit/css/iconmind.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}wrapkit/css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}wrapkit/css/index-landingpage/landing-page.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <div class=" btn-success-gradiant" id="top">
{#            <div class="topbar" id="top">#}
                <div class="header6">
                    <div class="container-fluid p-l-20 p-r-20 po-relative bg-dark">
                        <nav class="navbar navbar-expand-lg h6-nav-bar">
                            <a href="{% url 'pages-root' %}" class="navbar-brand"><img src="{{ STATIC_URL }}wikioko_w60y.png" alt="oko.online" /></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-menu"></span></button>
                            <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
                                <ul class="navbar-nav ml-auto">
                                    {% show_menu 0 100 100 100 'menu/menu.html' %}
                                </ul>
                                <div class="act-buttons">
                                    <a href="#" class="btn btn-danger-gradiant font-14">Войти</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    {% block content %}{% endblock content %}
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Back to top -->
                <!-- ============================================================== -->
                <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer4 b-t spacer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 m-b-30">
                            <a href="{% url 'pages-root' %}" class="navbar-brand"><img src="{{ STATIC_URL }}oko_logo_bird_180.png" alt="wikioko" /></a><br>
                            <sup>Онлайн-обучение от популярных <br>авторов и онлайн-школ</sup>
                        </div>
                        <div class="col-lg-3 col-md-6 m-b-30">
                        </div>
                        <div class="col-lg-6 m-b-30">
                            <h5 class="m-b-20">Контакты</h5>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 m-b-30">
                                        <p>Тех. поддержка:
                                            <br><i class="fa oko-icon-contact fa-envelope-o"></i> <a href="mailto:support@wikioko.com" class="link">support@wikioko.com</a>
                                            <br><i class="fa oko-icon-contact fa-phone"></i> <a href="tel:+79876543210" class="link">+7 987 654-32-10</a>
                                        </p>
                                        <p>Бухгалтерия:
                                            <br><i class="fa oko-icon-contact fa-envelope-o"></i> <a href="mailto:coin@wikioko.com" class="link">coin@wikioko.com</a>
                                            <br><i class="fa oko-icon-contact fa-phone"></i> <a href="tel:+79876543210" class="link">+7 987 654-32-10</a>
                                        </p>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <p><i class="fa oko-icon-contact fa-clock-o"></i> 8:00 - 17:00 <br/>
                                            <i class="oko-icon-contact">&nbsp;</i>Europe/Moscow
                                        </p>
                                        <p><i class="fa oko-icon-contact fa-send"></i> <a href="tel:+79876543210" class="link">+7 987 654-32-10</a></p>
                                        <p><i class="fa oko-icon-contact fa-whatsapp"></i> <a href="tel:+79876543210" class="link">+7 987 654-32-10</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="f4-bottom-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex font-14">
                                    <div class="m-t-10 m-b-10 copyright">&#0169; 2019, wikioko</div>
                                    <div class="links ml-auto m-t-10 m-b-10">
                                        <a href="#" class="p-10 p-l-0">Публичная оферта</a>
                                        <a href="#" class="p-10">Реквизиты</a>
                                        <a href="#" class="p-10">Использование Cookies</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        {% render_block "js" %}
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="{{ STATIC_URL }}assets/node_modules/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap popper Core JavaScript -->
        <script src="{{ STATIC_URL }}assets/node_modules/popper/dist/popper.min.js"></script>
        <script src="{{ STATIC_URL }}assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--Custom JavaScript -->
        <script src="{{ STATIC_URL }}wrapkit/js/custom.min.js"></script>
        <!-- ============================================================== -->
        <!-- This page plugins -->
        <!-- ============================================================== -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <script>
            $('a').on('click', function (event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top - 90
                }, 1000);
                event.preventDefault();
                // code

            });
        </script>
        {% block js_custom %}{% endblock js_custom %}
    </body>
</html>
