{% load menu_tags %}
<div class="{{  bar_class | default:'' }}" id="top">
{#            <div class="topbar" id="top">#}
    <div class="header{{ nav_index | default:12 }}">
        <div class="container-fluid p-l-20 p-r-20 po-relative {{ bg_class | default:'bg-dark' }}">
            <nav class="navbar navbar-expand-lg h{{ nav_index | default:12 }}-nav">
                <a href="{% url 'pages-root' %}" class="navbar-brand"><img src="{{ STATIC_URL }}oko_logo_{{ logo | default:'w' }}.png" alt="oko.online" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation"><span class="ti-menu"></span></button>
                <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h-info">
                    <ul class="navbar-nav ml-auto">
                        {% show_menu 0 100 100 100 'menu/menu.html' %}
                    </ul>
                    <div class="act-buttons">
                        <a href="#" class="btn btn-danger-gradiant font-14">Войти</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
