{% load thumbnail %}
<div class="container-fluid p-20">
    <div class="row">
        {% for product in products %}
            <div class="oko-pcard">
                <div class="oko-pcard-wrap m-l-20 m-r-20 m-b-20" data-aos="flip-left" data-aos-duration="1200">
                    <a class="oko-pcard-link lazybg loaded-bg"
                       href="{% url 'infoshop:product_detail' product.slug %}" tabindex="0"
                       style="background-image: url({{ product.image | thumbnail_url:'product_list' }});">
                        <div class="oko-pcard-filter" style="background-image: linear-gradient(to bottom left, {{ product.color0 }} 0%, {{ product.color1 }} 50%, {{ product.color2 }} 100%);"></div>
                        <div class="oko-pcard-content">
                            {% include 'infoshop/tpl_product_bages.html' %}
                            <div class="oko-pcard-title">
                                {{ product.longname }}
                            </div>
                            <div class="oko-pcard-desc">{{ product.description }}</div>
                        </div>
                        <div class="oko-pcard-icons">
                            {% if product.media_type_video %}<i class="oko-pcard-icon fa fa-film" title="Смотреть"></i>{% endif %}
                            {% if product.media_type_audio %}<i class="oko-pcard-icon fa fa-headphones" title="Слушать"></i>{% endif %}
                            {% if product.media_type_flow %}<i class="oko-pcard-icon fa fa-comments-o" title="Участвовать"></i>{% endif %}
                            {% if product.media_type_book %}<i class="oko-pcard-icon fa fa-book" title="Читать"></i>{% endif %}
                        </div>
                    </a>
                    <a href="#" class="oko-pcard-author" tabindex="0">
                        {% if product.owner.type == 1 %}<img src="{{ product.owner.image | thumbnail_url:'gallery_thumb' }}" alt="{{ product.owner.menutitle }}">{% endif %}
                        <span class="oko-pcard-author-name">{{ product.owner.menutitle }}</span>
                    </a>
                    <a href="{% url 'infoshop:by_category' product.category.slug %}" class="oko-pcard-theme" tabindex="0">{{ product.category.menutitle}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
